$body-bg: rgb(124, 158, 212);
$body-color: rgb(255, 255, 255);

$primary: rgb(252, 195, 46);
$font-family-base: 'Seconda Round', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;

@import "bootstrap/scss/bootstrap";
@import "font/stylesheet";
